body {
  background-color: #fdf5e6;
}

hr {

  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}

img{
  height: 170px;
}

h1{
  color: #30e3ca;
}

h3{
  color: #30e3ca;
}

.table{
  padding: 3px;
}

td{
  padding: 5px;
}
tr{
  padding: 20px;
}
